# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/src/c++/2d/2d_wave/.vs
/src/c++/2d/2d_wave/bin/x64/Debug
/src/c++/2d/2d_wave/packages/Debug
/src/c++/2d/2d_wave/packages/Release
/src/c++/2d/heat_2d/packages/Release
*.toc
doc/delta_formulation_doc/delta_formulation_content-blx.bib
*.aux
*.bbl
*.blg
*.ilg
*.lof
doc/delta_formulation_doc/delta_formulation_content.log
*.maf
*.mtc
*.mtc0
*.nlo
*.nls
doc/delta_formulation_doc/delta_formulation_content.run.xml
*.gz
*.bak
/src/c++/2d/heat_2d/.vs
/src/c++/2d/heat_2d/packages/Debug
